.ui-content.jqm-content.jqm-fullwidth {
    padding: 0px;
}
.phcEmpresa {
    background: rgba(240,47,23,1);
    background: -moz-linear-gradient(top, rgba(240,47,23,1) 0%, rgba(255,255,255,1) 0%, rgba(241,111,92,0.87) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(241,111,92,0.87)));
    background: -webkit-linear-gradient(top, rgba(240,47,23,1) 0%, rgba(255,255,255,1) 0%, rgba(241,111,92,0.87) 100%);
    background: -o-linear-gradient(top, rgba(240,47,23,1) 0%, rgba(255,255,255,1) 0%, rgba(241,111,92,0.87) 100%);
    background: -ms-linear-gradient(top, rgba(240,47,23,1) 0%, rgba(255,255,255,1) 0%, rgba(241,111,92,0.87) 100%);
    background: linear-gradient(to bottom, rgba(240,47,23,1) 0%, rgba(255,255,255,1) 0%, rgba(241,111,92,0.87) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#f16f5c', GradientType=0 );
}
.collapse > h3 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
a.ui-link.ui-btn-right.ui-btn.ui-icon-mail.ui-btn-icon-notext.ui-shadow.ui-corner-all, a.ui-link.ui-btn-left.ui-btn.ui-icon-bars.ui-btn-icon-notext.ui-shadow.ui-corner-all {
    background-color: #1727c1;
}
li.ui-li-static.ui-body-inherit.ui-first-child {
    background-color: #b70b0b;
    color: #fff;
}
h3#promohoje {
    color: #b70b0b;
    text-align: center;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border: none !important;
}
div#map {
    height: 500px;
}
    #promohojecontent .phcEmpresa, #promohojecontent .phcEmpresaPromo {
        float: left;
        width: 100%;
    }
        #promohojecontent .phcEmpresa .ui-block-a img {
            max-width: 50px;
        }
        #promohojecontent .phcEmpresa .ui-block-b {
            font-weight: 700;
            padding-top: 14px;
            padding-left: 6px;
        }
#promohojecontent .phcEmpresaPromo {
    border-left: 2px solid #b70b0b;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
    #promohojecontent .phcEmpresaPromo img {
        max-width: 50px;
    }
    #promohojecontent .phcEmpresaPromo .titlepromo {
        font-size: 19px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    #promohojecontent .phcEmpresaPromo .datainiciopromo {
        font-size: 14px;
        float: left;
        width: 30%;
        margin-top: 0px;
    }
    #promohojecontent .phcEmpresaPromo .datafinpromo {
        float: right;
        width: 30%;
        font-size: 14px;
        margin-top: 0px;
    }
    #promohojecontent .phcEmpresaPromo .coomentpromo {
        float: left;
        margin-top: 0px;
    }
.data { font-size: 13px;}
.divisordata {
    font-size: 13px;
    padding: 0px 5px;
}